{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<div class="intro h-10">

</div>

<div class="container">
        <br>
        <br>
        <br>
        <br>
        <div class="row">
				<div class="col-md-12">
					<div class="section-heading h-20">
                        <form method="post">{% csrf_token %}
                            <h4>Esta seguro de borrar la noticia "{{ object }}"?</h4>
                            {{ form }}
                            <input class="btn btn-primary"type="submit" value="Confirmar">
                        </form>
                    </div>
				</div>
		</div> 
        <br>
        <br>
        <br>
        <br>
        
</div>             
{% endblock %}


