{% extends 'base.html' %}
{% load static %}

{% block titulo %}{{titulo}}{% endblock titulo %}


{% block contenido %}
<div class="intro h-10">

</div>
<div class="container">
	<div class="row">
		<div class="text-center section-heading">
			<h4>{{titulo}}</h4>
		</div>
		<div class="col-md-12">
			<div class="text-center">
				<form enctype="multipart/form-data" method="POST">{% csrf_token %}
					<!-- {{form.as_p}} -->
					<div class="col-md-6 form-group">
						<div class="col-md-4">
							{{ form.titulo.label_tag }}
						</div>
						<div class="col-md-8">
							{{ form.titulo }}
						</div>
					</div>
					<div class="col-md-6 form-group">
							<div class="col-md-4">
							{{ form.categoria_noticia.label_tag }}
							</div>
							<div class="col-md-4">
								{{ form.categoria_noticia }}
							</div>
						<div class="col-md6">
							{% if user == noti.autor or user.is_superuser %}
								<a href="{% url 'noticias:agregarcategoria' %}">Agregar Categoria</a>
							{% endif %}
						</div>

					</div>

					<br>
					<div class="col-md-12 form-group">
						<div class="col-md-6">
							{{ form.cuerpo.label_tag }}
						</div>
						<div class="col-md-12">
							{{ form.cuerpo }}
						</div>
					</div>
					<br>
					<br>
					<div class="col-md-12 form-group">
						<div class="col-md-4">
							{{ form.imagen.label_tag }}
						</div>
						<div class="col-md-8">
							{{ form.imagen }}
						</div>
					</div>
					<br>

					<input class="btn btn-primary" type="submit" value="Guardar">
				</form>
				<br>
				<a href="{% url 'noticias:listar' %}">Volver</a>
			</div>
		</div>
	</div>
</div>
		
	
{% endblock contenido %}

