{% extends 'base.html' %}
{% load static %}

{% block titulo %}CATEGORIAS{% endblock titulo %}


{% block contenido %}
<div class="intro h-10">

</div>

<div class="container">

	<div class="row">

		<div class="text-center section-heading">
			<h4>Lista de Categorias</h4>
		</div>
		<br>
		<br>
		<div class="text-center">

            <div class="submenu">
                {% if perms.noticia.add_categoria %}
                    <div class="col-md-6">
                    <a class="btn btn-primary" href="{% url 'noticias:agregarcategoria' %}">Agregar Categoria</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'noticias:listar' %}">Volver</a>
                    </div>
                {% endif %}

            </div>
        </div>
            <br>
        <br>
        <br>
        <br>
        <div class="row">
            {% for cat in categorias %}
                <div class="col-md-8">
                    <p> {{cat.nombre}}</p>
                </div>
                <div class="col-md-4">

                    {% if perms.noticia.update_categoria %}
                    <div class="col-md-6">
                        <a href="{% url 'noticias:editarcategoria' cat.pk %}">Editar</a>
                    </div>
                    {% endif %}
                    {% if perms.noticia.delete_categoria %}
                        <div class="col-md-6">
                            <a href="{% url 'noticias:borrarcategoria' cat.pk %}">Borrar</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
    </div>
</div>
            
{% endblock contenido %}



