{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
	<div class="submenu">

		<a href="{% url 'noticias:listar' %}">TODAS</a>
		{% for cat in categorias %}
			<a href="?id={{cat.pk}}"> {{cat.nombre}} </a>
		{% endfor %}

	</div>
	
		<section class="d-flex flex-wrap">
			{% for noti in noticias %}
			 <div class="col-12 col-lg-3 col-lx-3">
				<div class="card m-4">
					<img class="card-img-top" height="200px" src="{{noti.imagen.url}}">
						
					<div class="card-body">
						<h5>
							<a class="card-title" href="{% url 'noticias:detalle' noti.pk   %}">{{noti.titulo}}</a>
						</h5>
						
						<h6 class="card-subtitle text-muted">
							<span class="d-inline-block" style="max-width:80%;">
								{{noti.cuerpo|safe|truncatechars:100}}	
							</span>
						</h6>
					</div>
					
					<div class="card-footer">
						<div class="d-flex justify-content-around">
							<p class="text-muted fw-light" > 
								<small class="text-muted">Publicado por: </small>
								{{noti.fecha}}
							</p>
						</div>
						<div><cite title="Categoría">{{noti.categoria_noticia}}</cite></div>
						<div> <a class="btn btn-info" href="{% url 'noticias:editar' noti.pk %}">Editar</a>
						 </div>
					</div>
				</div>
			</div>
			{% endfor %}
		</section>
	

{% endblock contenido %}



