{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<div class="intro h-10">

</div>

<div class="container">
		<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h4>Modificacion de Perfil realizada con éxito</h4>
                        <a href="{% url 'home' %}">Ir a inicio</a>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

					</div>
				</div>
		</div> 
				
</div>             
{% endblock %}
