{% extends 'base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block contenido %}

<div class="intro h-10">

</div>

<div class="container">
	<div class="row">
		<div class="text-center section-heading">
			<h4>Registro de usuario</h4>
		</div>

    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form method="POST">{% csrf_token %}         
          {{form.as_p}}
          {% if form.errors %}
            <div class="errores">
                <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {% for error in errors %}{{ error }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                {% endfor %}
                </ul>
            </div>
          {% endif %}
          <div class="col-md-6">
            <p><input type="submit" class="btn btn-primary btn-block" value="Guardar"></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}