{% load static %}

       <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="site-main" id="sTop">
            <div class="site-header">
                <div class="main-header">
                    <div class="container">
                        <div id="menu-wrapper">
                            <div class="row">
                                <nav class="navbar navbar-inverse" role="navigation">
                                    <div class="navbar-header">
                                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a href="{% url 'home' %}" class="navbar-brand">WaNoMa</a>
                                        <div id="main-nav" class="collapse navbar-collapse">
                                            <ul class="menu-first nav navbar-nav" style="margin-right: 20px;">
                                                <li class="{% if '/' == request.path %} active {% endif %}"><a href= "{% url 'home' %}" >Inicio</a></li>
                                                <li class="{% if '/Nosotros/' == request.path %} active {% endif %}"><a href="{% url 'nosotros' %}">Nosotros</a></li>
                                                <li class="{% if '/Noticias/' == request.path %} active {% endif %}"><a href="{% url 'noticias:listar' %}">Ver Noticias</a></li>
                                                <!-- <li><a href="#" class="external" target="_parent" rel="nofollow">External</a></li>  -->
                                                <li class="{% if '/Contacto/' == request.path %} active {% endif %}"><a href="{% url 'contacto:contacto' %}">Contáctanos</a></li>                                 
                                                <li>
                                                    {% if user.is_authenticated %}
                                                    <a href="#">{{user}}</a>
                                                    <a href="{% url 'usuarios:editar' %}">Perfil</a>
                                                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                                                    {% else %}
                                                    <a href="{% url 'login' %}">Iniciar sesión</a>
                                                    <a href="{% url 'usuarios:registro' %}">Registrarse</a>
                                                    {% endif %}
                                                </li>
                                    
                                            </ul>                                    
                                        </div> <!-- /.main-menu -->
                                    </div>
                                </nav>
                            </div> <!-- /.row -->
                        </div> <!-- /#menu-wrapper -->                        
                    </div> <!-- /.container -->
                </div> <!-- /.main-header -->
            </div> <!-- /.site-header -->
        </div> <!-- /.site-main -->       

