{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark px-4" >
    <a class="navbar-brand fw-bold" href="{% url 'home' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        WaNoMa
    </a>
    <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
    ></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ms-auto me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}" aria-current="page">
                    Principal <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'nosotros' %}" aria-current="page">
                    Nosotros <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'noticias:listar' %}" aria-current="page">
                    Noticias <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="dropdownId"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >
                    {% if user.is_authenticated %}
				        {{ user.username }}
			        {% else %}
                        Invitado
        			{% endif %}
                    </a
                >
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a>
                        <a class="dropdown-item" href="{% url 'usuarios:registro' %}">Registrarse</a>
                    {% endif %}
                </div>
            </li>
        </ul>

    </div>
</nav>

