{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
<div class="intro h-10">

</div>
<section id="about" class="page-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="service-item first-service">
					<div class="icon">
						<img src="{% static '/img/mujer1.png' %}" alt="" width="100px" height="100px">
					</div>
					<h4>Hola Soy Noe</h4>
					<p>Una estudiante del Informatorio Chaco Grupo 9 Comisión 4.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-item second-service">
					<div class="icon">
						<img src="{% static '/img/mujer.png' %}" alt="" width="100px" height="100px">
					</div>
					<h4>Hola Soy Wanda</h4>
					<p>Una estudiante del Informatorio Chaco Grupo 9 Comisión 4.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-item third-service">
					<div class="icon">
						<img src="{% static '/img/hombre.png' %}" alt="" width="100px" height="100px">
					</div>
					<h4>Hola Soy Mauro</h4>
					<p>Un estudiante del Informatorio Chaco Grupo 9 Comisión 4.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="second-tabs-content what-we-do">
		<div class="container">	
	<div class="row">
		<div class="col-md-12">
			<div class="section-heading">
				<h4>Quienes Somos</h4>
				<p>Somos un grupo de Estudiantes del Informatorio Chaco, Edición 2024.</p>
				<p>Estamos en la segunda etapa Desarrollo Web</p>
			</div>
		</div>
	</div>
		</div>
	</div>
	
</section>

{% endblock contenido %}

